<div class="bg-light animated fadeIn">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">About Mezzo Giro</h1>
                <p class="lead text-muted mb-0">Mezzo Giro is an Italian game, It's about playing cards and score points that will allow you to drink alcohol that your rivals will pay...</p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="assets/img/table.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>



<footer class="bg-light pb-5">
    <div class="container text-center">
        <p class="font-italic text-muted mb-0">&copy; Copyrights Alexandre Puga All rights reserved.</p>
    </div>
</footer>