<div class="container-fluid">
    <div style="width: 100%; text-align: center;">
        <div class="card-body">
            <h1 class="card-title">WELCOME TO THE MGIA</h1>
            <p class="card-text">Mezzo Giro International Association</p>
        </div>
        <h3>The Mezzo Giro International Association manages the competition, player rights and official tournaments. It is the only competent authority to dictate the rules, apply sanctions and ensure the correct operation of the game.</h3>
    </div>
    <br>
    <br>
    <br>
    <h1>Where are we?</h1>
    <hr>
    <br>
    <img src="assets/img/meteosat-europa.png">
    <br>
    <br>
    <br>

    <!-- Footer -->
    <footer class="bg-light pb-5">
        <div class="container text-center">
            <p class="font-italic text-muted mb-0">&copy; Copyrights Alexandre Puga All rights reserved.</p>
        </div>
    </footer>
</div>